{{#each pets}}
	<div class="liked-pets-list">
		<p class="liked-pet-details">Name: {{this.pet_name}}</p>
		<p class="liked-pet-details">Shelter: {{this.pet_shelter}}</p>
		<p class="liked-pet-details">Contact shelter: {{this.pet_email}}</p>
		<img src={{this.pet_photo}} class="pet-photo">
		<br>
		<!--Button to remove pet from liked pets list-->
		<button class="delete-pet ui button" data-id="{{this.id}}"><i class="trash icon"></i> Remove from list</button> 
	</div>
{{/each}}